# Drupal
/docroot/*.*
!/docroot/.htaccess
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/themes/contrib
/docroot/profiles/contrib

!/docroot/sites/default
/docroot/sites/default/*
!/docroot/sites/default/settings.php

!/docroot/.rsync-filter

/config/**/.htaccess

# Drush
/drush/contrib

# Compiled assets
/docroot/**/*.css
/docroot/**/*.js
!/docroot/**/*.es6.js
/docroot/**/*.map

# Project dependencies
/node_modules
/vendor

# Project test results
/tests/**/results
.phpunit.result.cache

# Lando
/drupal8.*.gz
/.lando.local.yml
/.csslintrc
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/INSTALL.txt
/README.txt
/autoload.php
/example.gitignore
/index.php
/robots.txt
/update.php
/web.config
