$cols: 5;

.table-container {
  width: 100%;
  margin-bottom: 3rem;

  .flex-row {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;

    .flex-cell {
      flex: 0 0 calc(100%/#{$cols});
      padding: .5rem;
    }
  }

  .header {
    font-weight: 600;
  }

  .mobile-label {
    display: none;
  }

  @include screens-below(xs) { 
    .flex-row {
      margin-bottom: 1rem;

      .flex-cell {
        flex: 0 0 100%;
        width: 100%;
      }
    }

    .header {
      display: none;
    }

    .mobile-label {
      display: inline-block;
      font-weight: 600;
    }
  } // media query

} // .table-container